*{
    margin: 0%;
}
.hero{
    background:linear-gradient(45deg,#010550,#490d61);
    width: 100%;
    height: 100vh;
}
h1{
    color: beige;
    margin-top: 180px;
    position: absolute;
    margin-left:560px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
span{
    color: #ff2963;
}

#text{
    height: 200px;
    width: 360px;
    border-radius:7px;
    outline: none;
    resize: none;
    font-size: large;
    opacity: 0.09;
    position: absolute;
    margin-top:260px;
    margin-left: 550px;

}
#text::placeholder{
    font-size: larger;
    color: rgb(0, 0, 0)
}
select{
    width: 230px;
    height: 30px;
    border-radius: 3px;
    margin-top: 500px;
    position: absolute;
    margin-left: 560px;
    opacity: 0.09;
    color: black;
    font-size: medium;
}
option{
    width: 150px;
    height: 300px;
}
button{
    width: 100px;
    height: 40px;
    margin-left: 810px;
    border-radius: 5px;
    border: none;
    margin-top: 495px;
    background: #ff2963;
    opacity: 0.4;
    font-size: medium;
}